* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Calligraphy', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif, cursive;
  }
  
  #root {
    background-color: rgb(240, 241, 243);
  }
  
  /* Header styling */
  .header {
    background-color: rgb(63, 131, 199);

  }
  .header h1 {
    font-family: cursive;
    text-align: center;
    height: 150px;
    color: white;
    text-decoration-line: underline;
    text-decoration-color: rgb(133, 223, 157);
    text-decoration-style: dashed;
    font-size: 80px;
}

.header h3 {
  text-align: center;
  padding-bottom: 20px;
}
.footer {
  text-align: center;
  padding: 15px;
  line-height: 4px;
}
.copyright {
font-size: 25px;}
/* content being dislayed on the page below nav */
.content {
  height: 6dar00px;
  color: White;
  padding: 20px;

}

.content h1 {
  text-align: center;
  text-shadow: 2px 2px 4px red;
}
/* about me styles */
.aboutMeText {
  margin-left: 25%;
  color: white;
  position: relative;
  bottom: 100px;
}

.icons a {
  color: white;
  text-decoration: none;
 
}

.icons li {
  position: relative;
  top: 10px;
  list-style-type: none;
}
/* resume styles */
.resumeContent {
  position: relative;
  margin-left: 25%
}
.resumeBoxes {
  

}
.jobs {
  background-color: white;
  color: #000;
}
.education {
  background-color: white;
  color: black;
}
.subheader {
  color: black;
  font-size: medium;
}