* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Calligraphy', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif, cursive;
  }
  
  #root {
    background-color: rgb(240, 241, 243);
  }
  
  /* Header styling */
  .header {
    background-color: rgb(63, 131, 199);

  }
  .header h1 {
    font-family: cursive;
    text-align: center;
    height: 150px;
    color: white;
    font-size: 80px;
    text-shadow: 2px 2px 4px red;
}

.header h3 {
  text-align: center;
  padding-bottom: 20px;
}
.footer {
  text-align: center;
  padding: 15px;
  line-height: 4px;
}
.copyright {
font-size: 25px;}
/* content being dislayed on the page below nav */
.content {
  color: White;
  padding: 20px;

}

.content h1 {
  text-align: center;
  text-shadow: 2px 2px 4px red;
}
/* about me styles */
.aboutMeText {
  color: white;
}

.icons a {
  color: white;
  text-decoration: none;
}

.icons li {
  position: relative;
  top: 10px;
  list-style-type: none;
}
/* resume styles */
.fullResume {
  width: 75%;
  margin-left: 50%;
}
.jobs {
  background-color: white;
  color: #000;
}
.education {
  background-color: white;
  color: black;
}
.subheader {
  color: black;
  font-size: medium;
}

.project {
  position: relative;
  width: 50%;
  padding: 10px;
}

.project a {
  text-decoration: none;
  color: white;
}

.project .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.topRight {
  font-size: 50px;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.project:hover .image {
  opacity: 0.5;
}

.project:hover .middle {
  opacity: 1;
}

.project:hover .topRight {
  opacity: 1;
}

.text {
  background-color: #889fda;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}



